/* UI全体を前面に固定表示 */
.info-box {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000; /* A-Frameより前に出す */
  background: #a4a4a4;
  border: 2px solid #ff69b4;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.info-box strong {
  background: #ff69b4;
  color: #ffffff;
  padding: 3px 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 3px;
}

.east{
  color: #0077be;
}
.west{
  color: #FEFEFE;
}
.south{
  color: #D72638;
}
.north{
  color: #1c1c1c;
}

/*==============================================================*/
/*popup template design*/
.popup-background{
  /*position size*/
  position: fixed;
  z-index : 100;
  top : 0;
  left : 0;
  height : 100vh;
  width : 100vw;

  /*design*/
  background-color: gray;
  opacity : 0.5
}
.popup{
  /*position size*/
  --height : 300px;
  --width : 300px;
  z-index : 101;
  position: fixed;
  top : calc(50vh - calc(var(--height) / 2));
  left : calc(50vw - calc(var(--width) / 2));
  height : var(--height);
  width : var(--width);

  /*design*/
  overflow : hidden;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px gray;
}
.popup > .close-button{
  /*position size*/
  --size : 20px;
  position:absolute;
  top : calc(var(--size)/4);
  left : calc(var(--width) - var(--size) * 5/4);/*css variables are available in children*/
  height : var(--size);
  width : var(--size);

  /*design*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color : gray;
  font-size: var(--size);
  border-radius: calc(var(--size)/5);
}
.popup > .close-button:hover{
  /*design*/
  background-color: red;
  color : white;
}
.popup > .content{
  padding: 10px;
  text-align: center;
}


/*hide popup*/
.popup-flag{
  display: none;
}
.popup-flag:not(:checked) + .popup-background{
  display:none;
}
.popup-flag:not(:checked) + * + .popup{
  display:none;
}



/*==============================================================*/
/*custom design*/
#popupFlag2 + * +.popup{
  /*position size*/
  --height : 150px;
  --width : 150px;
}
#popupFlag3 + * +.popup{
  /*position size*/
  --height : 150px;
  --width : 350px;

  /*design*/
  display:block;
  transform: rotate(30deg);
  box-shadow: 0px 0px 3px 1px gray;
  transition: 0.5s;
}
#popupFlag3:not(:checked) + * + .popup{
  /*position size*/
  --height : 0px;

  /*design*/
  transform: rotate(0deg);
  box-shadow: 0px 0px 0px gray;
}



/*==============================================================*/
/*button-container*/
.button-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.button-container > *{
  margin : 15px;
}

/*button1*/
.button-sample1{
  color: blue;
  background-color: white;
  border : 1px solid blue;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.2s;
}
.button-sample1:hover{
  color: white;
  background-color: blue;
}
.button-sample1:active{
  color: white;
  background-color: rgb(0, 0, 168);
  transition: 0.05s;
}

.button-sample1 {
  color: blue;
  background-color: white;
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 8px;
  transition: 0.2s;

  /* 追加 */
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

